@use '../../node_modules/bootstrap/scss/bootstrap';
@use '../../node_modules/bootstrap-icons/font/bootstrap-icons.css';

@font-face {
  font-family: 'bootstrap-icons';
  src: url('/assets/fonts/bootstrap-icons.woff2?8bd4575acf83c7696dc7a14a966660a3')
      format('woff2'),
    url('/assets/fonts/bootstrap-icons.woff?8bd4575acf83c7696dc7a14a966660a3')
      format('woff');
}
